@import 'normalize.css';

@mixin kaushan {
  font-family: 'Kaushan Script', cursive;
}

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin montserat {
  font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }


  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
      &_inner {
        display: flex;
        padding-top: 35px;
        justify-content: space-between;
        align-items: center;
      }

      &_logo {
        @include montserat;
        font-weight: 700;
        color: #fff;
        font-size: 30px;
      }
  }

  .container {
    width: 100%;
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    align-items: center;
      &_wrapper {
        display: flex;
        &_item {
          & + & {
            margin-left: 60px;
          }
          list-style-type: none;
          &-word {
            @include montserat;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            transition: color .2s linear;

            &:after {
              content: "";
              opacity: 0;
              background-color: #fce38a;
              width: 100%;
              height: 3px;
              color: #fff;
              position: absolute;
              top: 150%;
              left: 0;
              transition: opacity .2s linear;
            }
            &:hover {
              color: #fce38a;
            }
            &:hover:after {
              opacity: 1;
            }
          }
        }
      }
      &_icons {
        display: flex;
        margin-left: 50px;
        &-item {
          &:first-child {
            margin-right: 40px;
          }
        }
        
      }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 100%;
    height: 100vh;
    background: url("../images/fon_01.jpg") center no-repeat;
    background-size: cover;
    position: relative;
  }

.intro_inner {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 820px;
}

.intro {
  &_pretitle {
    @include kaushan;
    font-size: 72px;
    margin-bottom: 40px
  }
  &_title {
    @include montserat;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }
  &_line {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 60px;
    background-color: #fff;
    height: 3px;
    width: 60px;
  }
  &_btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border: 4px solid #fff;
    @include montserat;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: color .3s linear;
      &:hover {
        color: #000;
        background-color: #fff;
      }
  }
}


.intro_nav {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  margin-bottom: 30px;
    &-item {
      position: relative;
      text-align: left;
      width: 24%;
      @include montserat;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
        &-num {
          font-size: 24px;
          font-weight: 700;
        }
      &:after {
        content: "";
        background-color: #fff;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 120%;
        right: 0;
      }
    }
}

.intro_nav_inner {
  display: flex;
  justify-content: space-between;
}





// About us

.cards_header {
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  width: 100%;
  max-width: 970px;
  &-pretitle {
    @include kaushan;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &-title {
    @include montserat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
    &:after {
      content: "";
      height: 4px;
      width: 60px;
      background-color: #f38181;
      display: block;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
}


.cards_header-title--service {
  margin-bottom: 0px;
}

.cards_header-text {
  color: #999999;
  @include roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 90px;

}



.cards_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}


.cards_img {
  
  display: block;
  max-width: 100%;
  height: auto;
  
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fce38a, #f38181);
  transition: transform .2s linear;
    &-pic {
      width: 100%;
      display: block;
      position: relative;
      transition: opacity .2s linear;
    }
    &:hover .cards_img-pic {
      opacity: .2;
    }
    &:hover {
      transform: translate3d(-10px, -10px, 0);
    }
    &:hover .team {
      opacity: 1;
    }
    
}




.cards_item {
  background-color: #95e1d3;

    & + & {
      margin-left: 30px;
    }
}

.team {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  transition: opacity .3s linear;
    &-title {
      text-transform: uppercase;
      @include montserat;
      font-size: 18px;
      font-weight: 700;
    }
}



// Numbers section

.numbers {
  background-color: #95e1d3;
  color: #fff;

}

.numbers_inner {
  display: flex;
  flex-wrap: wrap;
}

.numbers_item {
  flex: 1 1 0;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #fff;
  padding: 80px 0;

  &:last-child {
    border-right: 1px solid #fff; 
  }
    &-num {
      @include montserat;
      font-size: 72px;
      font-weight: 700;
    }
    &-text {
      @include montserat;
      font-size: 14px;
      font-weight: 400;
    }
}


// Socials 

.socials {
  display: flex;
  &_item {
    padding: 10px 10px;
    background-color: #fce38a;
    transition: background-color .2s linear;
    & + & {
      margin-left: 1px;
    }
    &:hover {
      background-color: #f38181;
    }
    &:hover .socials_item-icon{
      fill: #fff;
    }
  }
}


.socials_item-icon {
  transition: fill .2s linear;
  fill: #f38181;
  height: 28px;
  width: 28px;
}


.cards_person {
  text-align: center;
  & + & {
    margin-left: 30px;
  }
}

.cards_name {
  margin-top: 30px;
  margin-bottom: 20px;
  @include montserat;
  font-size: 14px;
  font-weight: 400;
}

.cards_prof {
  color: #999999;
  @include roboto;
  font-size: 15px;
}

// Logos


.logos {
  background-color: #f8f8f8;
    &_item {
      padding: 0 15px;
      & + & {
        margin-left: auto;
      }

      &_image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
}

.logos_inner {
  display: flex;
  padding: 70px 0;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}



// Phrase 


.phrase {
  background-color: #f8f8f8;
    &_content {
      width: 800px;
    }
    &_logo {
      margin-right: 50px;
      &-pic {
        padding: 42px 42px;
        border: 4px solid #95e1d3;
      }
    }
}

.phrase--two {
  background-color: #fff;
}

.phrase_content {
    &-text {
      @include roboto;
      font-size: 24px;
      line-height: 36px;
      font-weight: lighter;
      font-style: italic;
      color: #999999;
      margin-bottom: 18px;
    }
    &-autor {
      @include kaushan;
      font-size: 25px;
      position: relative;
      margin-left: 80px;
      &:before {
        content: "";
        height: 3px;
        width: 60px;
        position: absolute;
        top: 50%;
        left: -80px;
        background-color: #f38181;
      }
    }
}

.phrase_inner {
  display: flex;
  padding: 100px 110px;
}




//  Works


.works_item {
  background: linear-gradient(to bottom, #fce38a, #f38181);
  position: relative;
    &-pic {
      display: block;
      width: 100%;
      height: auto;
      transition: opacity .2s linear;
    }
    &-info {
      opacity: 0;
      text-align: center;
      color: #fff;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      transform: translate3d(0, -50%, 0);
      transition: opacity .2s linear;
    }

    &:hover .works_item-info{
      opacity: 1;
    }
    &:hover .works_item-pic{
      opacity: .2;
    }
    &-logo {
      margin-bottom: 18px
    }
    &-title {
      @include montserat;
      font-size: 14;
      text-transform: uppercase;
      margin-bottom: 18px
    }
    &-text {
      @include roboto;
      font-size: 15px;
      font-style: italic;
      font-weight: lighter;
    }
}

.works {
  margin-top: 100px;
  display: flex;
}


.works_col {
  flex: 1 1 0;
  overflow: hidden;
}

//



// Services

.service {
  margin-bottom: 75px;
}

.service_inner {
  display: flex;
  flex-wrap: wrap;
  padding: 55px 0;
}

.service_item {
  width: 33.3333%;
  display: flex;
  margin-bottom: 40px;
  padding: 0 35px 40px 85px;
    &--border {
      border-bottom: 1px solid #e5e5e5;
    }

      &_logo {
        margin-right: 30px;
      }

      &-content {
        &-title {
          color: #333333;
          @include montserat;
          font-size: 14px;
          margin-bottom: 20px;
          font-weight: 400;
          text-transform: uppercase;
        }
        &-text {
          @include roboto;
          color: #999999;
          font-size: 15px;
          font-weight: 400;
        }
      }
}


// Devices

.device {
  height: 860px;
  background: url("/images/phonefon.png") center no-repeat;
  background-size: cover;
}

.device_content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 46px;
  position: relative;
      &-ipad {
        display: block;
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 0;
      }
      &-iphone {
        display: block;
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: -645px;
        max-width: 100%;
        height: auto;
      }
}


// Accordeon

.accordeon {
  width: 100%;
  margin-bottom: 110px;
    &_inner {
      display: flex;
    }
}

.accordeon_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accordeon_content {
  width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;

      &_item {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
            &-title {

              position: relative;
              border: 1px solid #e5e5e5;
              padding: 15px 15px;
              display: flex;
              align-items: center;



              cursor: pointer;
                &-text {
                  margin-left: 15px;
                  text-transform: uppercase;
                  @include montserat;
                  font-size: 14px;
                  color: #333333;
                  &:after {
                    content: url('/images/accordbtn.svg');
                    position: absolute;
                    top: 38%;
                    right: 20px;
                    transition: .2s;
                  }
                }
            
            }

            &-text {
              padding: 0px 20px;
              border-top: 0px;
              @include roboto;
              font-size: 15px;
              font-style: italic;
              font-weight: lighter;
              color: #b3b3b3;
              line-height: 24px;

              position: relative;
              height: 0;
              overflow: hidden;
              transition: 1s;
            }
      }
      
      
}

.accordeon_main-image {
  width: 40%;
}

.accordeon_content_item-title-icon {
  width: auto;
  height: auto;
}

.accordeon_main-image-pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.accordeon_content_item.active .accordeon_content_item-text {
  // display: block;
  height: 200px;
  padding: 20px 20px;
  border: 1px solid #e5e5e5;
}
.accordeon_content_item.active .accordeon_content_item-title-text:after {
  transform: rotate(180deg);
}










// Reviews

.reviews {
  background: url("/images/fonteam.png") center no-repeat;
  background-size: cover;
    &_inner {
      display: flex;
      padding-bottom: 60px;
      flex-wrap: wrap;
    }
}

.reviews_item {
  width: 43%;
  display: flex;
  margin: 35px 40px;
}

.reviews_item_main {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

      &-name {
        @include montserat;
        font-size: 14px;
        margin-bottom: 15px;
        color: #333333;
      }
      &-prof {
        @include roboto;
        font-size: 15px;
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 20px;
        position: relative;
        color: #494949;
        &:after {
          content: "";
          height: 3px;
          width: 65px;
          background-color: #f38181;
          display: block;
          margin-top: 20px;
        }
      }
      &-text {
        color: #999999;
        @include roboto;
        font-size: 15px;
        line-height: 24px;
      }
}


// Stories


.stories_inner {
  display: flex;
  padding-bottom: 110px;
}

.stories_item {
  max-width: 380px;
  & + & {
    margin-left: 30px;
  }
    &-pic {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      height: auto;
      
    }
    &-title {
      @include montserat;
      font-size: 14px;
      color: #333333;
      margin-bottom: 20px;
    }
    &-text {
      color: #999999;
      @include roboto;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 24px;
    }
}

.stories_item-image {
  position: relative;
}

.stories_footer {
  display: flex;
  padding: 20px 0;
  color: #b3b3b3;
  align-items: center;
  border-top: 1px solid #e5e5e5;
      &_item {
        display: flex;
        &-num {
          margin-left: 10px;
        }
        & + & {
          margin-left: 20px;
          align-items: center;
        }
      }
}

.stories_date {
  border-radius: 2px;
  position: absolute;
  bottom: 10px;
  left: -10px;
  color: #fff;
  background-color: #95e1d3;
  width: 60px;
  padding: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
    &-word {
      @include roboto;
      font-size: 15px;
      font-style: italic;
    }
    &-num {
      font-size: 28px;
      font-weight: 700;

    }
}








// Map
.map {
  background: url("/images/map/fon.png") center no-repeat;
  background-size: cover;
}

.cards_header--map {
  color: #f38181;
  padding: 60px 0;
}

.cards_header-title--map {
  margin-bottom: 0;
}






//  Footer

.footer {
  background-color: #f8f8f8;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px;
}


.footer_col--first {
  width: 40%;
}


.mogo-title {
  @include montserat;
  font-weight: 700;
  font-size: 46px;
  color: #cccccc;
  margin-bottom: 20px;
}

.mogo-text {
  font-size: 15px;
  line-height: 24px;
  @include roboto;
  color: #cccccc;
  padding: 20px 0;
}

.footer_socials-title {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;;
      &-num {
        font-size: 18px;
        font-weight: 700;
        @include montserat;
      }
      &-text {
        @include montserat;
        font-size-adjust: 15px;
        font-weight: 400;
        margin-left: 5px;
      }
}

.footer_socials_icons {
  display: flex;
  padding: 15px 0px;
  margin-bottom: 20px;
    &-prev {
      margin-right: 10px;
      @include roboto;
      font-style: italic;
      color: #cccccc;
      font-size: 15px;
    }
}


.footer_socials_item {
  & + & {
    margin-left: 10px;
  }
    &-icon {
      height: 16px;
      width: 16px;
      fill: #95e1d3;
    }
}

.subscribe {
  width: 380px;
  height: 40px;
  display: flex;
  margin-top: 38px;
      &_input {
        width: 60%;
        height: 40px;
        padding: 15px;
        @include roboto;
        font-style: italic;
      }
      &_btn {
        width: 40%;
        cursor: pointer;
        height: 40px;
        background-color: #95e1d3;
        border: 0px;
        font-size: 14px;
        @include montserat;
        font-weight: 700;
        padding: 15px 30px;
        line-height: 1.1;
        color: #fff;
        text-transform: uppercase;
      }
}



// Footer - Blog


.footer_col {
  height: 360px;
}

.footer_col--second {
  width: 30%;
}


.footer_blog-title {
  font-size: 14px;
  @include montserat;
  color: #333333;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer_blog_item {
  display: flex;
  align-items: center;
  & + & {
    margin-top: 30px;
  }
      &_content {
        margin-left: 35px;
            &-text {
              @include montserat;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: #333333;
              margin-bottom: 10px;
            }
            &-data {
              @include roboto;
              font-size: 13px;
              font-style: italic;
              color: #999999;
            }
      }
}


// Footer - Instagram

.footer_col--third {
  width: 22%;
}

.footer_inst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_inst_item {
  width: 33%;
  margin-bottom: 1px;
}

.footer_inst_item-pic {
  display: block;
  max-width: 100%;
}

.footer_blog-footer {
  @include roboto;
  font-style: italic;
  color: #333333;
  font-size: 13px;
  margin-top: 22px;
}






//  Foooter

.footer_last {
  @include montserat;
  font-size: 14px;
  color: #333333;
  text-align: center;
  padding: 25px;
  border-top: 1px solid #e5e5e5;
  background-color: #f8f8f8;
}




// Media ///////////////////////////////////////////////

@media (max-width: 1230px) {

  // Intro
    .intro_title {
      font-size: 120px;
    }
    .intro_pretitle {
      font-size: 50px;
    }

  // Reviews ////

  .reviews_item {
    width: 100%;
  }
}

@media (max-width: 990px) {
  // Intro
  .intro_title {
    font-size: 80px;
  }
  .intro_pretitle {
    font-size: 42px;
  }

  // Intro
  .intro_title {
    font-size: 40px;
  }
  .intro_pretitle {
    font-size: 22px;
  }

  .accordeon {
    margin-bottom: 0px;
    &_content {
      margin-left: 0;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .accordeon_content {
    width: 80%;
  }

  .accordeon_content_item.active .accordeon_content_item-text {
    height: 200px;
  }

  // Footer /////////

  .footer_inner {
    flex-wrap: wrap;
  }

  .footer_col--first {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer_col {
     height: auto;
  }

  .mogo-text {
    width: 40%;
  }

  .footer_col--second {
    width: 50%;
  }

}

    ///// 770px /////////////////////////////

@media (max-width: 770px) {

  // Navigation
  .nav {
    display: none;
  }


  // Cards

  .cards_content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards_item {
    width: 100%;
    max-width: 480px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    & + & {
      margin-left: 0;
    }
  }

  .cards_header-text {
    margin-bottom: 40px;
  }

  // Numbers

  .numbers_inner {
    justify-content: center;
  }

  .numbers_item {
    flex: none;
    width: 33.3333%;
    padding: 30px 0;
    border: 0;
    &:last-child {
      border: 0;
    }
  }

  // Servisec 

  .service {
    margin-bottom: 0;
  }

  .service_item {
    width: 100%;
    border-bottom: 0;
    padding: 0;
  }

  // Section 
  .section {
    padding: 40px 0;
    margin-bottom: 0;
  }


  // Slider
  .slider_text {
    display: none;
  }

  // Accordeon

  .accordeon_content_item.active .accordeon_content_item-text {
    height: 250px;
  }

  // Phrase

  .phrase_inner {
    padding: 50px;
  }

  .phrase_content {
    &-text {
      font-size: 18px;
      line-height: 25px;
    }
    &-autor {
      font-size: 18px;
      line-height: 25px;
    }
  }

  // Person

  .cards_person {
    & + & {
      margin-left: 0px;
    }
    margin-bottom: 30px;
  }

  ///// Works

  .works {
    flex-wrap: wrap;
  }

  .works_col {
    flex: none;
    width: 50%;
  }


  // Blog ////

  .stories_inner {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
  }

  .stories_item {
    margin-bottom: 30px;
    & + & {
      margin-left: 0;
    }
  }
  
  .stories_footer {
    justify-content: center;
  }


}


///// 575px //////////////////////////////////////


@media (max-width: 575px) {
  // Intro
  .intro_title {
    font-size: 40px;
  }
  .intro_pretitle {
    font-size: 22px;
  }

  // Numbers
  .numbers_item {
    width: 100%;
    border-bottom: 1px solid #fff;
    &:last-child {
      border-bottom: 0;
    }
    &-num {
      font-size: 52px;
    }
  }

  // Servisec 

  .service_item {
    width: 100%;
    border-bottom: 0;
  }

  // Device 
  .device_content {
    max-width: 300px;
    &-iphone {
      width: 180px;
      top: 70px;
      right: -30px;
    }
  }

  .device {
    height: 647px;
  }

  // Accordeon

  .accordeon_content_item.active .accordeon_content_item-text {
    height: 250px;
  }

   // Phrase

   .phrase_inner {
    padding: 50px;
  }

  .phrase_content {
    &-text {
      font-size: 12px;
      line-height: 18px;
    }
    &-autor {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .phrase_logo {
    width: 50%;
      &-pic {
        width: 120px;
        padding: 42px 42px;
      }
  }

  /////// Logos

  .logos_inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logos_item {
    width: 50%;
    margin-bottom: 30px;
    &_image {
      margin: 0 auto;

    }
  }

  // Reviews ////

  .reviews_item {
    width: 100%;
    margin: 40px 15px;
    flex-direction: column;
    text-align: center;
  }
  .reviews_item_main-prof:after {
    margin: 0 auto;
    margin-top: 20px;
  }
  .reviews_item_main {
    margin-left: 0;
  }

  .footer_col--second {
    width: 60%;
  }

  .mogo-text{
    width: 100%;
  }

  .subscribe {
    width: auto;
    &_btn {
      width: auto;
      font-size: 11px;
    }
    &_input {
      font-size: 70%;
    }
  }

  .footer_last{
    font-size: 11px;
  }

  .subscribe {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    &_input {
      width: 100%;
    }
    &_btn {
      margin: 10px 0;
      width: 100%;
    }
  }

}


//  320px /////////////////////////////////////

@media (max-width: 320px) {

  .cards_header {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 30px;

  }

  .cards_header-pretitle{
    font-size: 18px;
    padding-top: 30px;
  }

  .cards_header-title {
    padding: 0 10px;
    font-size: 20px;
  }

  .accordeon_content_item-title-text {
    font-size: 11px;
  }

  .accordeon_content_item.active .accordeon_content_item-text {
    height: 520px;
  }

  // Device ///

  .device {
    height: 507px;
  }

  .device_content {
    max-width: 300px;
    &-iphone {
      width: 147px;
      right: -30px;
    }
  }


  // Phrase ///

  .phrase_inner {
    padding: 20px;
  }

  .phrase_content {
    &-text {
      font-size: 12px;
      line-height: 18px;
    }
    &-autor {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .phrase_logo {
    width: 20%;
    margin-right: 25px;
      &-pic {
        width: 40px;
        padding: 10px 10px;
      }
  }



  // Works

  .works_col {
    width: 100%;
  }


  // Phrase-two

  .phrase--two {
    margin: 30px 0;
  }

  .phrase_logo {
    width: 40%;
    display:flex;
    align-items: center;
  }

  .phrase_inner {
    padding: 20px 0;
  }

  .phrase_content {
    width: 60%;
  }

  .elips_logo-pic {
    display: block;
    width: 100%;
    height: auto;
  }

  .mogo-text{
    width: 100%;
  }

  .footer_col--second {
    width: 100%;
  }

  .cards_header-title--map {
    padding-bottom: 30px;
  }

}

@media (max-height: 568px) {

  .intro_line {
    margin: 35px auto;
  }
}







